<a href="https://colab.research.google.com/github/pradeep-isawasan/AnscombeQuartet/blob/main/AnscombeQuartet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction

It was constructed in 1973 by statistician [Francis Anscombe](https://en.wikipedia.org/wiki/Frank_Anscombe) to illustrate the importance of plotting the graphs before analyzing and model building, and the effect of other observations such as outliers on statistical properties.

# Dataset

Anscombe's quartet comprises four data sets with each dataset consists of eleven (x,y) points.

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

# Basic Statistics
## Quartet 1

In [4]:
q1 = pd.read_csv("https://raw.githubusercontent.com/pradeep-isawasan/AnscombeQuartet/main/Quartet1.csv")

q1

     x      y
0   10   8.04
1    8   6.95
2   13   7.58
3    9   8.81
4   11   8.33
5   14   9.96
6    6   7.24
7    4   4.26
8   12  10.84
9    7   4.82
10   5   5.68

In [2]:
q1.describe()

               x          y
count  11.000000  11.000000
mean    9.000000   7.500909
std     3.316625   2.031568
min     4.000000   4.260000
25%     6.500000   6.315000
50%     9.000000   7.580000
75%    11.500000   8.570000
max    14.000000  10.840000

## Quartet 2

In [5]:
q2 = pd.read_csv("https://raw.githubusercontent.com/pradeep-isawasan/AnscombeQuartet/main/Quartet2.csv")

q2

     x     y
0   10  9.14
1    8  8.14
2   13  8.74
3    9  8.77
4   11  9.26
5   14  8.10
6    6  6.13
7    4  3.10
8   12  9.13
9    7  7.26
10   5  4.74

In [6]:
q2.describe()

               x          y
count  11.000000  11.000000
mean    9.000000   7.500909
std     3.316625   2.031657
min     4.000000   3.100000
25%     6.500000   6.695000
50%     9.000000   8.140000
75%    11.500000   8.950000
max    14.000000   9.260000

## Quartet 1,2,3,4

In [10]:
q3 = pd.read_csv("https://raw.githubusercontent.com/pradeep-isawasan/AnscombeQuartet/main/Quartet3.csv")
q4 = pd.read_csv("https://raw.githubusercontent.com/pradeep-isawasan/AnscombeQuartet/main/Quartet4.csv")

# mean for x in q1, q2, q3, q4
mean1 = q1['x'].mean()
mean2 = q2['x'].mean()
mean3 = q3['x'].mean()
mean4 = q4['x'].mean()

In [21]:
# create table

d = {
    'Parameter': ['Mean(x)', 'Mean(y)'],
     'Quartet 1': [mean1, 'sd1'],
     'Quartet 2': [mean2, 'sd2'],
     'Quartet 3': [mean3, 'sd2'],
     'Quartet 4': [mean4, 'sd2']
     }

df = pd.DataFrame(d)
df

  Parameter Quartet 1 Quartet 2 Quartet 3 Quartet 4
0   Mean(x)         9         9         9         9
1   Mean(y)       sd1       sd2       sd2       sd2